<div class="container shadow p-3 mb-5 bg-white rounded form-card">
  <div class="card card-title ">
    <div class="card-body">
      <form [formGroup]="quoteForm" (ngSubmit)="onSubmit();quoteForm.reset()">
        <label for="Name">
          Name:
        </label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <label for="quote">
          Enter Quote:
        </label>
        <input type="text" class="form-control" id="quote" formControlName="quote">
        <label for="author">
          Author:
        </label>
        <input type="text" id="author" class="form-control" formControlName="author">
        <button class="btn btn-primary btn-grad"type="submit">Add Quote</button>
      </form>
    </div>
  </div>  
</div>

