/* Start of Header  */
.heading-section {
  background:linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
  padding: 100px;
}
.heading-title {
  color: white;
  font-weight: bold;
}
.heading-p {
  color: white;
}
.bi-chat-square-quote-fill{
  color: white;
  font-size: 50px;
  text-align: center;
}
/* END of Header  */

/* Quote display START  */
.card-header{
   background:linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)
}
.display-text{
  color: white;
}
.quote-card {
  margin-bottom: 40px;
  width: 25rem;
  height: 30rem;
}
.quote-card-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: space-around;
  column-gap: 5rem;
}
.bi-trash-fill{
  font-size: 18px;
}


.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
/* .btn-vote{
  display: flex;
  column-gap: 5px;
  
}     */
/* ENd of Quote Display  */