
<section class="heading-section text-center">
  <p>
    <i class="bi bi-chat-square-quote-fill"></i>
  </p>
  <h1 class="text-center heading-title">Quote Generator</h1>
  <p class="text-center heading-p lead">Create your quotes here!</p>
</section>
  <app-form (addQuote)="addNewQuote($event)"></app-form>
    <div class="container quote-card-container">
      <div *ngFor="let quote of quotes; let i=index" class="div" >
       <div class="card shadow p-3 mb-5 bg-white rounded card quote-card" >
        <div class="card-header">
          <p class="text-center display-text"><span class="display-text">Submitted By:</span><br>{{quote.name}}</p>
        </div>
        <div class="card-body">
          <blockquote class="blockquote ">
              <p appHighlightDirective *ngIf ="highestUpvote()===quote.upvotes && quote.upvotes>0"><span class="display-text">Quote:</span><br> {{quote.quote}}</p>
              <p *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p>
              <!-- <p appHighilightDirective *ngIf="()===quote.upvotes && quote.upvotes>0">
            {{quote.text}} <br> 
          </p> -->
          <!-- <p *ngIf="highestLikebtn()!==quote.upvotes || quote.likes==>0"></p> -->
            <footer class="blockquote-footer"><p><span class="display-text">Author:</span><br>{{quote.author}}</p></footer>
          </blockquote>
            <app-quote-details [quotes]='quote' (deleteRequest)='quoteDelete($event,i)'></app-quote-details>
            <p>Created:{{quote.completeDate|dateCount}} days ago</p>
        </div>
      </div>
    </div>
    </div>
    
   

