
<section class="heading-section text-center">
  <p>
    <i class="bi bi-chat-square-quote-fill"></i>
  </p>
  <h1 class="text-center heading-title">Quote Generator</h1>
  <p class="text-center heading-p lead">Create your quotes here!</p>
</section>
  <app-form (addQuote)="addNewQuote($event)"></app-form>
  
    <!-- <div *ngFor='let quote of quotes'>
      <div class=" shadow p-3 mb-5 bg-white rounded card quote-card" style="width: 50rem;">
        <div class="card-body">
        </div> 
      </div>
    </div> -->
    <div class="container quote-card-container">
      <div *ngFor="let quote of quotes" class="div" [style.display]= "displayNone">
       <div class="card shadow p-3 mb-5 bg-white rounded card quote-card" >
        <div class="card-header">
          <p class="text-center display-text"><span class="display-text">Submitted By:</span><br>{{quote.name}}</p>
        </div>
        <div class="card-body">
          <blockquote class="blockquote ">
              <p><span class="display-text">Quote:</span><br> {{quote.quote}}</p>
            <footer class="blockquote-footer"><p><span class="display-text">Author:</span><br>{{quote.author}}</p></footer>
          </blockquote>
            <button class="btn btn-danger btn-grad" (click)="deleteQuote($event, i)"><i class="bi bi-trash-fill"></i></button>
           
            <app-quote-details></app-quote-details>
        </div>
      </div>
    </div>
    </div>
    
   

