   
            <!-- <button class="btn btn-success" id="upvote" (click)="upvote()" >{{quotes.like}}<i class="bi bi-hand-thumbs-up"></i></button> 
            <button class="btn btn-danger" id="downvote" (click)="downvote()" >{{quotes.dislike}}<i class="bi bi-hand-thumbs-down"></i></button> -->
            <!-- <div class="div" *ngFor='let quote of quotes'> -->
                <!-- <button class="btn btn-success btn-vote" id="upvote"  (click)="likeButtonClick()">{{quotes.upvotes}}<i class="bi bi-hand-thumbs-up"></i></button> 
                <button class="btn btn-danger btn-vote" id="downvote"  (click)="dislikeButtonClick()">{{quotes.downvotes}}<i class="bi bi-hand-thumbs-down"></i></button> -->
            <!-- </div> -->
            <!-- <span class="votes-disp">{{numberOfLikes}}</span> -->
          
          <!--
          -->