   <div class="btn-vote">
            <!-- <button class="btn btn-success" id="upvote" (click)="upvote()" >{{quotes.like}}<i class="bi bi-hand-thumbs-up"></i></button> 
            <button class="btn btn-danger" id="downvote" (click)="downvote()" >{{quotes.dislike}}<i class="bi bi-hand-thumbs-down"></i></button> -->
             <button class="btn btn-success" id="upvote" (click)="likeButtonClick()"><i class="bi bi-hand-thumbs-up"></i></button> 
            <button class="btn btn-danger" id="downvote" (click)="dislikeButtonClick()" ><i class="bi bi-hand-thumbs-down"></i></button>
            <span class="votes-disp">{{numberOfLikes}}</span>
          </div>